################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/.svn
**/.git
**/.vscode
**/.history
**/.DS_Store
**/__pycache__
**/ipch
**/Debug
**/Release
*.user
*.pdb
*.idb
*.suo
*.sdf
*.ncb
*.o
*.a
*.lib
*.obj
*.dll
*.exe
*.sys
*.pyc
*.pyo
*.zip
*.7z
*.bak
/lib
/obj
/MD
/MDd
/MT
/MTd
/Win32
/x64
packages/